/Saved
!Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
/Intermediate
/.vs
/Build
/Plugins
/Content/VigilanteContent
/Content/Realistic_Starter_VFX_Pack_Vol2
Binaries/
*.sln
*_BuiltData.uasset